
{% extends "layout.html" %}

{%block content%}
<br>

<h5>Config Change:</h5>

The small faces scan has been toggled to: <b>{{sftoggle}}</b> <br><br>

The process works by enlarging and chopping up the image before processing - adding time but increasing the chances of detecting small faces in the image.<br>
<br>

Please note that any images which have corresponding encoding files will not be rebuilt unless you delete the encoding files and <re-encode class=""></re-encode>


{%endblock content%}